@import "../assets/css/vars";
@import "./Global/Footer/index";
@import "./Global/Nav/index";
@import "./LandingPage/index";
@import "./MoviePage/index";

/* Global */
* {
  margin: 0;
  bottom: 0;
  color: #fff;
  list-style: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#root {
  background: black;
}

body {
  width: 100%;
}
